.App {
}
body {
  font-size: 20px;
}

h1 {
  text-align: center;
  margin: 1rem;
  font-size: 44px;
  font-weight: 700;
}

.input {
  border: 3px solid rgb(61, 95, 61);
  border-radius: 0.3em;
  padding: 0.5rem;
  width: 12em;
  font-size: 20px;
  font-weight: 700;
}

select {
  margin-left: 0.5rem;
  font-size: 20px;
}
